@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --min-layout-size: 475px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input {
    outline: 0;
    border-bottom: 2px solid #535353;
  }
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  input:focus {
    @apply border-primary04;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  img {
    @apply inline-block;
  }
}
